a{
    color:#232628;
}
/*header*/
.header{
    background-color:white;
}
.header .icon-fenlei{
    color:black;
}
/*section*/
.content-Info{
    width:100%;
    height: 100%;
    background:url("https://img02.hua.com/m/member/center/backgroundv3.png") no-repeat;
    background-size:100%;
}
/* section -欢迎来到花礼网*/
.content-Info-topic{
    width:100%;
    height:8rem;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    -webkit-flex-direction: column;
}
.welcome-huacom{
    color:white;
}
.register-and-login{
    width:9rem;
    height:2.57142857rem;
    line-height:2.57142857rem;
    background-color:#fff;
    border-radius:4rem;
    margin-top:0.57142857rem;
    text-align:center;
    font-weight: 500;

}
/*section-part*/
/*section-part1*/
.part{
    background-color:white;
    margin:0 0.57142857rem;
    border-radius:0.28571429rem;
    box-shadow:0 0.28571429rem 0.42857143rem 0 #DEE2E5;
}
.part-header{
    height:3.14285714rem;
    line-height:3.14285714rem;
    padding:0 1.14285714rem;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
}
.my-order{
    font-size:1.14285714rem;
}
.part1-content{
    display: -webkit-flex;

}
.part-menu-list{
    -webkit-flex: 1;
    padding:0.85714286rem 0.42857143rem;
}
.part-menu-list a{
    display:block;
}
.img-icon{
    width:2.28571429rem;
    height:2.28571429rem;
    margin:0 auto;
}
.part-txt{
    text-align:center;
    font-size:0.92857143rem;
}
.line{
    width:90%;
    margin:0 auto;
    height:1px;
    background-color:#E9ECF0;
}
/*part2 中间部分*/
.part2{
    margin-top:0.57142857rem;
}
.part2:after{
    content:"";
    height:0;
    display:block;
    clear: both;
}
.part2-content{
    width:100%;
}
.part2-menu-list{
    width:25%;
    float:left;
    height:6.42857143rem;
    display: flex;
    text-align:center;
    justify-content: center;
    align-items: center;
    padding:0;
}
.part2-menu-list a{
    padding:1rem 0;
}
.part2-menu-list .part-txt{
    font-size: 0.85714286rem;
    margin-top: 0.57142857rem;
}
.part2-content:after{
    content:"";
    height:0;
    display:block;
    clear: both;
}
