*{
    padding: 0;
    margin: 0;
}

div#box{
    width: 500px;
    height: 500px;
    background: red;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}