/*html{*/
/*    font-size:26.67vw;*/
/*}*/
/*header部分*/
.header{
    background-color:white;
}
/*bennner*/
.swiper-container {
    width: 100%;
    background-color:white;
}
.swiper-wrapper{
    position:relative;
}
.swiper-slide {
    font-size: 18px;
    background: #fff;
}
.swiper-slide img{
    width:100%;
}
.swiper-container .swiper-pergination-dire{
    width:2.57142857rem;
    height:1.28571429rem;
    line-height:1.28571429rem;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius:0.14285714rem;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
    position:absolute;
    bottom:4%;
    left:85%;
}
.swiper-slide1{
    z-index:4;
    position:relative;
}
.open-vedio-btn{
    width:100%;
    position:absolute;
    left:0;
    top:80%;
}
.open-vedio{
    width:118px;
    margin:0 auto;
    height: 46px;
    line-height:46px;
    background-color:rgba(255,255,255,.6);
    color:#111111;
    border-radius:10rem;
    font-size:14px;
}
.circle{
    width:46px;
    height:46px;
    border-radius:50%;
    border:2px solid black;
    box-sizing: border-box;
    float:left;
    margin-right: 8px;
}
.time{
    float:left;
    color:black;
    letter-spacing:2px;
}
.video-img{
    width:100%;
    height:99%;
    background-color:black;
    position:absolute;
    left:0;
    top:0;
    z-index:2;
}
.source-img{
    width:100%;
}
.close-video{
    position:absolute;
    z-index:3;
    right:0.57142857rem;
    top:1.42857143rem;
    min-width: 80px;
    height:24px;
    color:#232628;
    line-height:24px;
    text-align:center;
    border-radius:10rem;
    font-size:0.85714286rem;
    background-color:rgba(255, 255, 255, 0.9);
}
/*detailInfo*/
.detail-info{
    padding:0 16px;
    font-size:14px;
    background-color:white;
}
.detail-info-content{
    padding:12px 0;
    border-bottom:1px solid #E9ECF0;
}
.info-content{
    display: flex;
    color:#232628;
    justify-content:space-between;
}
.dire-info-left{
    flex:1;
}
.special-txt{
    color:#FF734C;
}
.dire-info-right{
    width:2.85714286rem;
    min-height:1.42857143rem;
    height: 100%;
    text-align:center;
}
.about-price{
    margin-top:0.85714286rem;
}
.now-price{
    font-size: 1.42857143rem;
    color: #FF734C;
    font-weight: 600;
}
.about-price s{
    color: #B4BABF;
    margin-left: 0.42857143rem;
    font-size: 1rem;
    margin-right: 1.14285714rem;
}
.info-content-app{
    display: flex;
    padding:14px 0;
    color:#232628;
    justify-content:space-between;
}
.info-content-app-left .icon-my{
    float:left;
    font-size:1.28571429rem;
    margin-left:0.21428571rem;
    width: 3rem;
    min-width: 3rem;
}
.app-txt {
    float: left;
    font-size: 1.14285714rem;
}

.detail-content-part{
    background-color:white;
    margin-top:0.57142857rem;
    padding:0.57142857rem 1.14285714rem;
    font-size:0.85714286rem;
}
.detail-item{
    display:flex;
}
.detail-item-left{
    width: 3rem;
    min-width: 3rem;
    padding:12px 0;
}

.detail-item-right{
    flex:1;
    display: flex;
    padding:12px 0;
    border-bottom: 1px solid #E9ECF0;
}
.send-place{
    flex:1;
}
.detail-item-right .icon-my{
    width:1.71428571rem;
    text-align: right;
}
.item-about-city{
    border:none;
}
/*<!--已选+配送至 -->*/
.part2-send-place{
    margin-left:5px;
}
/*panel*/
.panel{
    background-color:white;
    font-size:0.92857143rem;
}
.panel-tit{
    padding: 0.85714286rem 1.14285714rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.order-panel{
    font-size:1.14285714rem;
}
.panel-num a{
    color:#71797F;
    font-size:0.85714286rem;
}
.panel-item{
    padding:0.85714286rem 1.14285714rem;
    border-top:1px solid #E9ECF0;
}
.person-and-score{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.person{
    display:flex;
    flex-direction: row;
    align-items: center;
}
.person img{
    width:1.42857143rem;
    height:1.42857143rem;
    border-radius:50%;
    margin-right:0.57142857rem;
}
.person-feel{
    margin-top:0.85714286rem;
}
.panel-img{
    margin-top:1rem;
}
.panel-img a{
    display: block;
    width: 5.71428571rem;
    height: 5.71428571rem;
}
.panel-img a img{
    width:100%;
    height:100%;
}
.person-address{
    margin-top:0.57142857rem;
    color: #B4BABF;
    font-size: 0.78571429rem;
}
.search-more{
    text-align:center;
    padding:0.57142857rem 0 1.71428571rem;
}
.search-more-btn{
    display:inline;
    color:#232628;
    font-size:0.85714286rem;
    padding:0.28571429rem 0.57142857rem;
    border:1px solid #232628
}
/*tabbar*/
.behavior{
    display:flex;
    justify-content: center;
    align-items: center;
}
.tabbar .behavior{
    color:white;
}
.add-to-car{
    background-color:#3D4D42;
}
.now-to-buy{
    background-color: #FF734C;
}