a{
    color:#232628;
}
/*header*/
.header{
    background-color: white;
}
.header_left .icon-fenlei{
    background-color: black;
}
/*shopp-car*/
.shopp-car{
    width:100%;
    background-color:white;
    padding:1.71428571rem 0;
}
.shopp-car img{
    width:7.14285714rem;
    height:7.14285714rem;
    margin:0 auto;
}
.shopp-car p{
    font-size:1rem;
    color:#232628;
    text-align:center;
    margin-top:1.14285714rem;
}
/*guess*/
.guess{
    width:100%;
    margin-top:0.57142857rem;
    background-color:white;
}
.guess-tit{
    height:4rem;
    line-height:4rem;
    font-size:1.14285714rem;
    padding:0 1.14285714rem;
}
.guess-like-content {
    display: flex;
    flex-wrap:wrap;
    padding: 0 1.2%;
}
.guess-like-item{
    width:48%;
    margin:0 0.93333333% 0.57142857rem;
    box-shadow: 0px 4px 6px 0 #dee2e5;
}
.like-item-img img{
    width:100%;
    height:13.723571rem;
}
.like-item-detail{
    padding:0.42857143rem 0.57142857rem;
    font-size:0.85714286rem;
    box-sizing: border-box;
}
.like-item-dire{
    width:100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size:0.85714286rem;
}
.like-item-price{
    margin-top: 0.42857143rem;
    font-size: 1rem;
    color: #FF734C;
}
.guess-like-bottom{
    height:2.57142857rem;
    line-height:2.57142857rem;
    color:#71797F;
    text-align:center;
    font-size:0.85714286rem;
}
/*Tabbar*/
.tabbar .car1-ico{
    color:#FF734C;
}