*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
html{
    font-size: 26.67vw;
}
a{
    text-decoration: none;
}
ul,li{
    list-style: none;
}
html,body{
    height: 100%;
}
.left{
    float: left;
}
.right{
    float: right;
}
.header{
    height: 0.55rem;
    background-color: #ccc;
    font-size: 13px;
    position: relative;
    transition:top 2s ease;
    top: 0px;
}
.header>div>a>img{
    width: 0.6rem;
    height: 0.6rem;
    margin-top: -0.02rem;
}
.header div:nth-child(3) >a{
    display: inline-block;
    width: 0.96rem;
    height: 0.55rem;
    background-color: red;
    color: white;
    line-height: 0.55rem;
    text-align: center;
}
.header div:nth-child(2){
    margin-top: 0.105rem;
}

.swiper-container {
    height: 2.44rem;
    width: 100%;
    margin-top: 0;
    top: -6px;
}  
.swiper-slide>img{
    height: 100%;
    width: 100%;
    display: block;
}
.sousuo{
    font-size: 14px;
    display: flex;
    position: absolute;
    top: 0;
    z-index: 199999;
    width: 100%;
    
}
.sousuo div:nth-child(1){
    height: 0.44rem;
    line-height: 0.44rem;
}
.sousuo div:nth-child(1) >img{
    width: 0.4rem;
    height: 0.4rem;
    vertical-align: middle;
}
.sousuo div:nth-child(1) >span{
    display: inline-block;
    line-height: 0.44rem;
}
.sousuo input{
    width: 2.15rem;
    height: 0.32rem;
    margin-top: 0.06rem;
    padding-left: 0.25rem;
    margin-left:0.08rem;
    border-radius: 0.1rem;
    outline: none;
    border: none;
}
.sousuo div:nth-child(2){
    position: relative;
}
.sousuo div:nth-child(2)>span>img{
    display: inline-block;
    width: 0.25rem;
    height: 0.25rem;
    position: absolute;
    top:9px;
    left: 0.1rem;
}
.sousuo div:nth-child(3)>span>img{
    width: 0.24rem;
    height: 0.24rem;
   margin-top: 0.1rem;
    margin-left: 0.06rem;
}
/* nav */
.nav{
    height: 1.08rem;
    width: 100%;
    font-size: 14px;
    background-color:white;
    display: flex;
    align-items: center;
    position: absolute;
    top: 2.55rem;
    z-index: 100;
  
}
.nav img{
    width: 0.48rem;
    height: 0.48rem;
}
.nav>ul{
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex: 1;
 
}
.nav>ul>li p{
    color: black;
  
}
.swiper-pagination{
    top:0.9rem;
}
.redian{
    font-size: 16px;
    margin-top: 0.56rem;
    display: flex;
    justify-content: space-between;
}
.redian>div>span:first-child{
    font-size: 20px;
    font-weight: 600;
}
.redian>div:nth-child(1){
    margin-left: 0.1rem;
}
.redian>div:nth-child(2){
    margin-right: 0.1rem;
}
.xinren{
    display: flex;
    justify-content: space-around;
    width: 3.55rem;
    margin: 0 auto;
    margin-top:0.3rem;
}
.xinren img{
    width: 1.775rem;
    height: 1.1389rem;
}
.banxin{
    width: 3.55rem;
    margin: 0 auto;
}
.seconds,.seconds div{
    height: 0.36rem;
    position: relative;
}
.seconds > div:nth-child(1) p{
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
}
.seconds > div:nth-child(1) span{
    font-size: 18px;
    font-weight: bold;
}
.seconds > div:nth-child(2) a{
    font-size: 18px;
    color: red;
}
header{
    height: 0.5rem;
    font-size: 12px;
    display: flex;
    text-align: center;
    
}
header a{
    width: 20%;
    height: 100%;
    color: black;
}
header a img{
    height: 0.3rem;
    width: 0.3rem;
}
.zhongbu{
    flex: 1;
    overflow-y: auto;
    position: relative;
}
body{
    display: flex;
    flex-direction: column;
}
.seconds{
    margin-top: -0.22rem;
}
.danpin img{
    width: 0.9rem;
    height: 0.9rem;
}
.danpin>div{
    display: flex;
    flex-direction: column;
    margin: 0 0.1rem 0;

}
.danpin>div>a div:nth-child(2){
    width: 0.9rem;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow:ellipsis;
    font-size: 14px;
    color: black;
    margin-top: -0.15rem;
}
.danpin>div>a div:nth-child(3)>p{
    color: red;
    font-size: 14px;
}
.danpin>div>a div:nth-child(3)>span{
    text-decoration:line-through;
    font-size: 14px;
    color: #ccc;
}
.danpin{
    display: flex;
    overflow-x: auto;
}
/* 品牌 */
.pinpai{
    font-size: 14px;
    display: flex;
    margin-top: 0.1rem;
    text-align: center
}
.pinpai img{
    width: 1.77rem;
    height: 1.34rem;
}
.pinpai>div{
    position: relative;
}
.pinpai>div p{
    position: absolute;
    color: black;
    font-size: 16px;
    font-weight: bold;
    top: 0.07rem;
    left: 0.1rem;
}

/*  */
.lingjuan{
    font-size: 14px;
    display: flex;
    background-color: white;
}
.lingjuan>div{
    width: 1.77rem;;
    height: 1.37rem;
    padding-left: 0.18rem;

}
.lingjuan>div:first-child{
    border-right: 1px solid #ccc;
  
}
.lingjuan>div img{
    width: 0.7rem;
    height: 0.7rem;
}
.lingjuan>div p{
    color: red;
    font-size: 18px;
    font-weight:bold;
}
.lingjuan>div h3{
    font-size: 14px;
    font-weight: normal;
}
body{
    background-color: #ffffff;
}
.tiaowei img{
    width: 1.77rem;
    height: 1.24rem;
}
.tiaowei{
    display: flex;
    position: relative;
}
.tiaowei p{
    display: inline-block;
    font-weight: bolder;
    position: absolute;
    top:0.02rem;
    left:0.06rem;
}
.tiaowei img:nth-of-type(2){
    position: absolute;
    top: 0%
}
.leng{
    display: flex;
    overflow-x: auto;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
}
.leng img{
    width: 0.9rem;
    height: 0.9rem;
}
.leng p{
    color: black;
}
.product{
  display: flex;
  flex-wrap:wrap;
    font-size: 12px;
    justify-content: space-between;
}
.product_img{
    width: 1.575rem;
    height: 1.575rem;
}
.product_div1{
    color:black;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    width: 1.575rem;
}
